<div class="container">
  <div class="card text-center shadow p-3 mb-5 bg-body rounded">
    <h2><%= @restaurant.name %></h2>
    <ul>
    <li><%= @restaurant.address %></li>
    <li><%= @restaurant.phone_number %></li>
    <li><%= @restaurant.category %></li>

    </ul>

    <%= link_to 'Back to Restaurants', restaurants_path, class: "link" %>
    <%= link_to 'Add a review', new_restaurant_review_path(@restaurant), class: "link" %>
  </div>
</div>
